[2017-05-07 09:32] bhanuvrat opened #1 "interim website with important info"
Lets setup an interim website with important information. It can be updated when the designs become available.

[code]

[2017-05-07 17:08] thisisayush commented on #1
While the final design gets ready. A Full Screen Responsive Under Construction Page could be made that could mention Expected Launch Date (or a Countdown, idea by @manas-kashyap) and the essential information mentioned above such as venue, date, etc.

The page can then be replaced once a design is finalised.

[2017-05-12 11:47] #1 closed

[2017-06-22 17:58] cosmicAsymmetry opened #5 "Contributor Request"
Hello! I want to help out in making the site. If possible could you assign me a task?

[2017-07-02 06:14] shagunsodhani commented on #5
Hey @cosmicAsymmetry I do not see any open issues for now but I am sure the organising team has plenty of website-related things to take care of.  You may fill the [volunteer form](http://bit.ly/inpycon2017) and select `Website Development` as your domain. Alternatively, feel free to report and fix things that you feel needs to be improved. It could be as simple as some missing information which y

[2017-07-02 08:32] theskumar opened #9 "Automated build and deployment."
Add ability for automatically deploy website via Travis.

[2017-07-02 08:33] theskumar opened #10 "Add volunteers section and how to contribute"

[2017-07-07 11:57] Warlord77 commented on #10
Its there in my PR

[2017-07-08 11:41] realslimshanky opened #18 "Adding twitter feed on the website"
I want to work on this issue. I'll add a PR for the same by tonight.

[2017-07-09 06:00] theskumar commented on #18
Hey, would like to take a stab at https://github.com/jasonmayes/Twitter-Post-Fetcher
and integrate it.

[2017-07-09 06:09] #18 closed

[2017-07-09 06:14] theskumar commented on #10
@Warlord77 Please submit another PR with which integrates with current theme.

[2017-07-09 06:20] theskumar opened #22 "Add blog integration"
- link to existing blog https://in.pycon.org/blog/ and when it's available link to blog specific to 2017 (i.e. https://in.pycon.org/blog/2017)
- optionally fetch rss feed and display first few post.

[2017-07-09 07:36] realslimshanky commented on #18
Sorry for late reply and thanks for doing it :)

[2017-07-09 08:15] realslimshanky opened #23 "Fixing the vacant space around twitter widget"
Current implementation of the twitter widget leaves unnecessary space to the left and right also it doesn't go with the theme. A solution is required by going through this comment on the original issue -> [Here](https://github.com/pythonindia/inpycon2017/issues/18#issuecomment-313901135)

[2017-07-09 18:25] CuriousLearner opened #25 "Extra white space on the right of the website"
Here is how it looks:

<img width="1280" alt="screen shot 2017-07-09 at 11 34 29 pm" src="https://user-images.githubusercontent.com/8039608/27996539-edeb3056-6501-11e7-9dd8-a87e5d507772.png">

PS: I'm of Firefox 54.0.1

[2017-07-10 09:00] #25 closed

[2017-07-10 09:38] theskumar opened #27 "release v2"
- [x] Fix stats section on mobile.
- [x] Add volunteers section and how to contribute #10

## Low Priority

- [ ] ~Make gallery preview image larger than the thumbnail size~ #28

[2017-07-10 09:43] theskumar opened #28 "Make gallery preview image larger than the thumbnail size"

[2017-07-10 12:20] #10 closed

[2017-07-10 14:56] #27 closed

[2017-07-10 15:44] realslimshanky opened #31 "Banner picture changes on left swipe."
There are two slides on the banner one of which contains the image. So changing the slide makes the image go away. Removing one of the slide will fix this.
I'm working to resolve this issue.

[2017-07-10 17:22] #31 closed

[2017-07-12 23:45] amitsin6h commented on #23
I guess we can add facebook and instagram plugin to fill the gap. @realslimshanky If you suggest i can add.

[2017-07-13 00:04] amitsin6h commented on #22
well we can parse feed using javascript or php. but for now the problem is no blog post have been made for 2017. accessing https://in.pycon.org/blog/2017/ gives 404 @theskumar so untill its is not made we cannot work but if we need rss feed to get displayed in our website I can parse the 2016 blog post and once the 2017 blog post are made we can change the link from 2016 to 2017 this wont make iss

[2017-07-13 00:20] amitsin6h commented on #28
@theskumar where is gallery I cannot find it in the website. Please help me to find then I can work on it.

[2017-07-13 04:25] CuriousLearner commented on #28
@amitsin6h The gallery is hidden right now, as we are waiting for consent from people to be able to use their photographs on the website.

It should be available in 2-3 days. I'll update here when we have it. Thanks!

[2017-07-13 04:26] CuriousLearner commented on #22
@amitsin6h We first need to work getting feeds from the existing blog i.e.  https://in.pycon.org/blog/

We can then change the URL once we have blog posts flowing in.

[2017-07-13 04:29] CuriousLearner commented on #23
@amitsin6h Facebook and Instagram plugins are not needed.

As @realslimshanky pointed out, we need to get rid of the extra whitespace in the current integration of Twitter plugin.

The comment indicates this link:  https://github.com/jasonmayes/Twitter-Post-Fetcher

[2017-07-13 05:17] amitsin6h commented on #22
@CuriousLearner That what I was asking. Thanks for replying. I will do it using js need bit time .

[2017-07-13 13:37] emht opened #34 "Size of Social Media Links"
I feel the size for the social media links are  very small and should be bigger than their present size.

Because links to share must be highlighted.

[2017-07-13 20:03] realslimshanky commented on #34
Hi @emht , Social links are looking good on the mobile view. They might look better if we scale them accordingly for the desktop view. Please go ahead and fix them if you like. Since the template is based of bootstrap make sure to use appropriate breakpoints as mentioned here in the [grid system](http://getbootstrap.com/css/#grid)

[2017-07-14 01:23] amitsin6h commented on #23
@CuriousLearner that link was great help. Got it will be working to fix soons once blog integration #22 gets closed

[2017-07-14 09:48] emht opened #36 "Telegram Chat link for voluteers is broken"
The llink provided under the Volunteer section to join Telegram group chat seems to be broken and is giving error like

![screenshot_20170714-151515](https://user-images.githubusercontent.com/21521341/28207443-5e184578-68a7-11e7-84a1-6ef4c4690454.png)

[2017-07-14 10:57] CuriousLearner commented on #36
Hi @emht, It is working fine for me.

Can you please try once again?

PS: @realslimshanky Can you check if it works for you?

[2017-07-14 12:51] SpEcHiDe opened #37 "spelling mistake"
I think the spelling of `sponser` should be `sponsor` instead of `sponser`.

Reference: https://github.com/pythonindia/inpycon2017/blob/master/index.html#L2477

[2017-07-14 13:48] realslimshanky commented on #36
@emht , the telegram group link provided works like perfectly. Try to open [this](https://bit.ly/PyConIndiaVolunteers) link in browser.

[2017-07-14 14:27] shivakrishna9 opened #39 "Add link for volunteering on the website faq page"
Link for volunteering registration form is missing in "I want to volunteer ... "
https://pythonindia.github.io/inpycon2017/faqs.html

[2017-07-14 14:37] shivakrishna9 commented on #34
I will take this up! :)

[2017-07-14 14:43] amitsin6h commented on #37
Fixed typo from the index.html @SpEcHiDe . You can close this issue now.

https://github.com/pythonindia/inpycon2017/pull/35/commits/ccdd1b70b7d7e46c9db7b749fdaac4185571b895

[2017-07-14 14:46] amitsin6h commented on #23
@CuriousLearner  @realslimshanky I have used the twitter post fetcher to fix the vacant space arround the twitter widget. we can also customize it according to our need. Please review and let me know I'll be waiting for reply

https://github.com/pythonindia/inpycon2017/pull/35/commits/b040de5a8e219b0e1cc90b3aeacece3b00e4333b

[2017-07-14 14:49] krishamehta commented on #39
Form link added

[2017-07-14 14:58] shivakrishna9 commented on #39
Thanks @krishamehta . please submit a pull request.

[2017-07-14 15:23] krishamehta commented on #39
@shivakrishna9  Done.

[2017-07-14 16:35] pradeepgangwar commented on #9
@theskumar I am interested working on this. Please let me know brief details of what  **tasks** are to be accomplished.

[2017-07-14 16:40] CuriousLearner commented on #5
I think @shagunsodhani has provided the details :)

Closing this for now!

[2017-07-14 16:40] #5 closed

[2017-07-14 16:41] CuriousLearner commented on #37
@amitsin6h That is not how you mention it in issues.

You need to first create a PR for us to accept your change. The issue would close automatically when your PR is merged.

[2017-07-14 17:21] ashwamegh commented on #9
@theskumar @pradeepgangwar I am also interested in working on this.

[2017-07-14 17:24] ashwamegh commented on #36
@realslimshanky @CuriousLearner It is also working fine for me. This issue should be closed for now.

[2017-07-14 17:36] ashwamegh commented on #23
@CuriousLearner @realslimshanky  Should I add a background image to fill the vacant space.

[2017-07-14 17:36] sourabhtk37 opened #43 "Add CNAME to permanently redirect to custom domain"
Current gh-page is not resolving to `https://in.pycon.org/2017/` which needs to be the case.

[2017-07-14 17:43] #36 closed

[2017-07-14 17:45] amitsin6h commented on #37
https://github.com/pythonindia/inpycon2017/pull/44

@SpEcHiDe Now you can merge it. Thanks 👍

[2017-07-14 17:45] CuriousLearner commented on #36
@emht If you face problem, please feel free to reopen this issue

[2017-07-14 17:47] CuriousLearner commented on #43
@sourabhtk37 is not hosted on Github. So, this doesn't make sense.

[2017-07-14 17:51] shashank7200 opened #45 "Moving on to sections on the page should be animated"
Currently, moving to a section gets the user directly to that section. This should show animated move to the section.
For eg: https://in.pycon.org/2017/#speakers

[2017-07-14 17:51] ashwamegh commented on #45
I would like to work on this !

[2017-07-14 17:58] geekodour opened #46 "Buid error on Python3.6"
It works alright on python2.7

[2017-07-14 18:01] amoghj8 commented on #34
Hey! I am thinking of modifying the font-sizes to 2em for screen sizes greater than or equal to 768px and 1.5em for less than 768px. Can I take up the issue?

[2017-07-14 18:01] sourabhtk37 commented on #43
https://pythonindia.github.io/inpycon2017/
I thought so too since there was no `gh-page` branch.

[2017-07-14 18:01] geekodour opened #47 "Is this image supposed to look like this?"
![image](https://i.imgur.com/M1vmLLM.png)

[2017-07-14 18:03] ashwamegh commented on #46
@geekodour Please post a screenshot here!

[2017-07-14 18:03] CuriousLearner commented on #46
@geekodour Build error does not mean anything to us. Can you please show the error you get?

[2017-07-14 18:04] CuriousLearner commented on #43
@sourabhtk37 We will wait for this issue to be cleared with the deployment team.

[2017-07-14 18:05] geekodour commented on #47
I didn't check it on phone, if it shows up like this on phone it will look a bit weird I think.

[2017-07-14 18:06] geekodour commented on #47
let me know, if I should send a PR for this, for smaller devices.

[2017-07-14 18:07] CuriousLearner commented on #47
@rajataaron Can you please reply here?

[2017-07-14 18:08] geekodour commented on #46
![image](http://i.imgur.com/ZH82WB1.png)

I am using python2.7 now..

[2017-07-14 18:28] aakashbajaj commented on #46
It seems like your python default has been set to 3.6.1
Set it back to python2.7 and check again

[2017-07-14 19:01] realslimshanky commented on #39
@krishamehta you can also link the issue with your PR by simply adding the issue no with #.
This makes it easier to track.

[2017-07-14 19:37] realslimshanky commented on #34
@shivakrishna9  sure, go ahead and make PR but please make sure you follow the guidelines stated [here](https://github.com/pythonindia/inpycon2017/blob/master/README.md)
@amoghj8, @shivakrishna9 started working on this issue before you, discuss the changes with him.

[2017-07-14 20:18] amitsin6h commented on #23
@CuriousLearner @realslimshanky am unable to make pull request for FIX#23

[2017-07-14 20:32] amitsin6h commented on #22
@CuriousLearner please review it and let me know how I can display first few post and where I have to display it.

[2017-07-14 20:39] realslimshanky commented on #23
@shashank7200, @amitsin6h has already made a PR regarding this issue.
@amitsin6h what's the error you are getting?

[2017-07-14 20:48] amitsin6h commented on #23
@realslimshanky someone asked me to make pull request for every fix that I make and due to this I had deleted my old repo just to make PR for every fix but that didn't worked again. after reading more about GitHub I came to know my PR are going from the commit messages.    everything clear for now no issues. Thanks for replying.  also check my blog integration fix and review it .

[2017-07-14 20:59] realslimshanky commented on #23
@amitsin6h, you cannot create multiple PR on the same repo. Once you've made one PR all your future commits will be appended to you first PR. You need to rebase your local repo to the point where you added integration for the blog and then create a fresh PR. This is the only clean way to go IMHO after seeing #22

[2017-07-15 02:50] SpEcHiDe opened #52 "FAQs does not have the link in the third answer"
the faq.html file does not have the link to volunteer form.

[2017-07-15 05:18] shivakrishna9 commented on #52
Already mentioned at #39 @SpEcHiDe

[2017-07-15 06:34] amitsin6h commented on #22
@theskumar @CuriousLearner  @realslimshanky guys I have fixed the blog integration with rss feed and the best part we can also display few post. I will send the pull request once all my PR are merged. Waiting to solve more issues.

[2017-07-15 06:58] emht commented on #36
Well, it seems to work now.  Sorry for wrong intel but I had issues before.

[2017-07-15 13:37] vkmrishad opened #53 "Is the logo too small"
Did anyone think the logo is small.
![screen shot 2017-07-15 at 7 07 17 pm](https://user-images.githubusercontent.com/18536460/28239764-d85b7ea6-6990-11e7-9cd6-d806537726ca.png)

[2017-07-15 18:17] realslimshanky opened #54 "Add keynote speakers"
Since Noufal Ibrahim and Peter Wang are confirmed as keynote we should add their details on the homepage.

[2017-07-15 18:34] ashwamegh commented on #54
Should I add it.. @realslimshanky  ?

[2017-07-15 18:42] realslimshanky commented on #54
@shashank7200 sure, since you already have a PR in line waiting for the review make sure you start clean for this issue. There has been situations of mix-up.

[2017-07-15 20:57] Xizt opened #55 "The arrow must point down."
I feel the arrow must point down when more is yet to be clicked and on clicking , upwards.
![imageedit_2_8760434586](https://user-images.githubusercontent.com/19890659/28242627-469df26c-69ce-11e7-9c7a-8d5f00b24ee2.jpg)

[2017-07-15 21:03] Xizt opened #56 "Speakers, 4 days event section gets left aligned at certain resolutions"
![issue](https://user-images.githubusercontent.com/19890659/28242676-ac83b480-69cf-11e7-9da1-32466d98978d.png)

[2017-07-16 03:36] ashwamegh commented on #54
@realslimshanky From where should I get the images and links of speakers, Or simply get it from Internet ?

[2017-07-16 03:38] #52 closed

[2017-07-16 05:56] realslimshanky commented on #54
Ask from the design team off the mailing list and also try to get one yourself if in better quality.

[2017-07-16 06:15] Xizt commented on #55
Created a pull request for the same

[2017-07-16 07:13] mish24 commented on #53
It actually is. The PyCon one on top right? @CuriousLearner Whar do you think?

[2017-07-16 07:16] mish24 commented on #56
Yes.
![screenshot from 2017-07-16 12-45-19](https://user-images.githubusercontent.com/24610197/28245457-b1625966-6a24-11e7-8402-9b52b4e15b0c.png)

Is this size too big for the speakers?

[2017-07-16 15:20] CuriousLearner commented on #53
@vkmrishad @mish24 Why do you think the logo is small?

Can you paste a screenshot here of how much big you think the logo should be?

[2017-07-16 15:44] vkmrishad commented on #53
Its just my opinion.
250x56

![screen shot 2017-07-16 at 9 11 27 pm](https://user-images.githubusercontent.com/18536460/28249006-bafce756-6a6b-11e7-8425-04fa86f01e80.png)

[2017-07-16 15:48] vkmrishad opened #59 "Favicon missing"
Please add a favicon :)

[2017-07-16 18:42] Xizt commented on #56
Yep, at this certain resolution the images stay bigger, the above section gets left aligned.

[2017-07-17 07:15] CuriousLearner commented on #55
This seems good, I will review the request today. Thanks for your contribution.

[2017-07-17 07:16] CuriousLearner commented on #53
Seems okay to me. @rajataaron  What do you think?

[2017-07-17 07:17] CuriousLearner commented on #59
@rajataaron Can you please update a favicon for the site from Design team so that this can be resolved in a PR?

[2017-07-17 07:19] CuriousLearner commented on #56
We shall look into this once the speakers' section is updated.

The left aligned 4 days event section should be centered. While working on the PR please ensure to have a minimal number of break points.

[2017-07-17 12:23] rajataaron commented on #59
ya sure i will fix this tonight...

[2017-07-17 12:25] rajataaron commented on #53
the logo is at its maximum size. there is a reason that we can not increase its size

[2017-07-17 12:28] rajataaron commented on #47
the image is like this only on both desktop and mobile if it looks weird then let me see what i can do

[2017-07-17 12:29] rajataaron commented on #43
@sourabhtk37 that link is for the stagging website check.

[2017-07-17 14:05] pradeepgangwar commented on #56
I am working on this issue as I was the one who previously amended the statistics section mobile view.
As said by @CuriousLearner speakers' section will be updated once list is updated. So for now i am working on statistics section.

[2017-07-17 14:56] sourabhtk37 commented on #43
Alright. Closing this.

[2017-07-17 14:56] #43 closed

[2017-07-17 17:26] realslimshanky commented on #53
@vkmrishad  Logo looks good at this size. If you compare it with the other elements of the navbar you'll start to embrace it.

[2017-07-17 17:26] realslimshanky commented on #47
@geekodour It's design! ;)

[2017-07-18 05:04] #55 closed

[2017-07-18 05:35] CuriousLearner commented on #37
PR #57 awaiting changes for this issue.

[2017-07-18 05:36] CuriousLearner commented on #59
@rajataaron Can you please provide a link to favicon here so one of the contributors can pick up the task and make a PR corresponding to this issue?

[2017-07-18 05:39] CuriousLearner commented on #23
@realslimshanky Nope.

@amitsin6h What you need is to make separate branches for each PR. That way the branches like `master` on your fork would remain clean.

Each branch solves one issue and corresponds to one PR. As soon as you get some review, you do the work in that branch and the corresponding PR updates.

This is the way all the changes remain isolated.

You can read about DVCS git on git-s

[2017-07-18 05:44] CuriousLearner opened #62 "Make gallery live again!"
Since we are awaiting review from people to use their photographs on the website, gallery was hidden in my commit 89066fe7fed5e8f58e51161d65727057827bbe57

We need to make gallery live again so that other gallery related issues could be taken care of.

[2017-07-18 05:45] CuriousLearner commented on #53
@rajataaron Should we close this issue then?

[2017-07-18 05:46] CuriousLearner commented on #54
@rajataaron Please do the needful.

[2017-07-18 06:01] realslimshanky commented on #23
@amitsin6h sorry I meant to say should not. There was a lot of confusion on the first PR itself.

[2017-07-18 06:20] rajataaron commented on #59
@vkmrishad @CuriousLearner here is the link to favicon feel free to use this and do PR  https://goo.gl/RzUpNp

[2017-07-18 06:21] Xizt commented on #62
I'll do it

[2017-07-18 06:23] CuriousLearner commented on #62
@Xizt This is still waiting for the consent and updates. Not doable at the moment.

[2017-07-18 06:26] rajataaron commented on #54
As of right now we are asking from both the keynotes for their pictures till then this thing is on halt.

[2017-07-18 06:27] Xizt commented on #62
Ok. Considering the atomic PR I thought this issue is to just add the gallery list items to the pages

[2017-07-18 06:28] rajataaron commented on #53
@CuriousLearner yes close this issue logo is of fit size there is no problem with it. I have tested it on all devices after this issue.

[2017-07-18 06:29] rajataaron commented on #47
@geekodour if it's look odd then do provide the better solution if we find your solution is appropriate then we will use that.

[2017-07-18 06:33] #53 closed

[2017-07-18 10:06] ramakanthd92 commented on #59
Hi, I am working on adding the favicon to the website

[2017-07-18 13:34] ramakanthd92 commented on #59
Submitted a pull request https://github.com/pythonindia/inpycon2017/pull/63

[2017-07-18 14:43] thisisayush opened #64 "Speakers Link in Menu points to Root"
Link to Speakers section points to /#speakers instead of #speakers which is causing the issues when working in subdirectory root (e.g. localhost/git/inpycon2017/).

[2017-07-19 19:33] Xizt opened #67 "animate.css is Included but not used"

[2017-07-19 19:38] Xizt commented on #67
created a PR for the same.

[2017-07-21 04:55] Shivang-Bhandari opened #72 "Hero Screen is much larger than the browser height"
I think the Hero section should have a maximum height of 100vh whereas it is exceeding it.

[2017-07-21 05:25] #62 closed

[2017-07-21 05:51] rajataaron commented on #72
@Shivang-Bhandari I got your problem, even you can fix that and create a issue.

[2017-07-21 05:52] rajataaron commented on #67
We are collecting the merged files and deploy them by tonight after that it will reflect on URL.

[2017-07-21 08:44] Xizt commented on #67
@rajataaron please look at PR #68 . It makes use of the above library.

[2017-07-21 17:46] Shivang-Bhandari commented on #72
@rajataaron I'll be more than happy to contribute. Will fix and put up a PR

[2017-07-23 12:44] amitsin6h commented on #22
@theskumar  just wanted to know that. Where we need to show the blog post in index page ??

[2017-07-24 10:00] aradhyamathur commented on #46
check the  `__init__.py` of easywatch in the env change it to `from .easywatch import watch` that could be a workaround. It seems to be a bug in older easywatch on python3.
You can refer to this for further details https://github.com/Ceasar/staticjinja/issues/56

[2017-07-25 04:45] sagarchoudhary96 commented on #64
Hey , I have fixed this one , can i send the PR?

[2017-07-25 09:19] CuriousLearner opened #76 "Add a button to buy tickets for conference"

[2017-07-25 11:11] rajataaron opened #78 "Add parallax image according to theme"
Need to add parallax image according to theme finalized.

[2017-07-25 11:17] rajataaron commented on #78
I have fixed this @theskumar and @CuriousLearner please review it. https://github.com/pythonindia/inpycon2017/pull/79

[2017-07-26 08:29] #76 closed

[2017-07-26 09:48] #78 closed

[2017-07-26 09:50] realslimshanky opened #82 "Update FAQ"
Update in faq needed to add couple of questions clearing out the confusion related to tickets.

[2017-07-26 09:55] #59 closed

[2017-07-30 15:11] CuriousLearner opened #84 "[URGENT] Update ticket FAQ"
Update ticket FAQ from this information:

Policy for ticket transfer & cancellation:

- All tickets are transferable.

- Early bird tickets cannot be canceled. They can only be transferred.

- All other tickets can be canceled till 10th Oct 2017.

- Tickets can be transferred till 10th Oct 2017 using the ticket transfer link .

[2017-07-30 16:47] stalwart201 commented on #84
@realslimshanky  Working on it.

[2017-07-30 17:20] realslimshanky commented on #84
Yeah. I am working to resolve this issue. Sending a PR soon.

[2017-07-31 05:03] CuriousLearner commented on #84
May be you can break it up in different FAQs

[2017-07-31 14:30] rajataaron opened #86 "Add Keynote details to the website"
1) Keynote images
2) Social links

[2017-07-31 16:20] rajataaron commented on #86
https://github.com/pythonindia/inpycon2017/pull/87 PR raised

[2017-07-31 17:40] abhiii5459 opened #88 "Fixing typos on faqs.html"
- Fixing "  - PyCon India T-shirt which will be distributed on Sep 25." to reflect the second day of the conference in 2017 i.e Nov 3rd
- Minor typos fixed

[2017-07-31 19:34] realslimshanky commented on #88
This issue is duplicate of #84

[2017-07-31 19:38] abhiramr commented on #88
I'd looked into the commits for #84 and they seemed to have missed these bits out though. Am I mistaken?

[2017-07-31 19:40] realslimshanky commented on #88
Since that issue is solving the similar bug if you have any additional query you can comment there also. I've fixed the typo on that issue.

[2017-07-31 19:40] abhiramr commented on #88
Alright, just saw the comment on the PR. No worries then.

[2017-07-31 19:40] #88 closed

[2017-08-01 06:59] CuriousLearner commented on #86
Merged.

[2017-08-01 06:59] #86 closed

[2017-08-01 06:59] CuriousLearner commented on #54
PR merged #87

[2017-08-01 06:59] #54 closed

[2017-08-01 07:02] CuriousLearner commented on #37
This is resolved.

[2017-08-01 07:02] #37 closed

[2017-08-01 07:22] bhanuvrat commented on #28
@amitsin6h  its not hidden anymore.

[2017-08-01 08:47] #84 closed

[2017-08-01 08:49] pradeepgangwar commented on #56
#61 merged. Can be closed now .

[2017-08-01 08:55] CuriousLearner commented on #56
Speaker section can be worked upon now, if the issue persists for it.

[2017-08-01 08:56] CuriousLearner commented on #47
This is intended. Closing it for now.

[2017-08-01 08:56] #47 closed

[2017-08-02 05:35] realslimshanky opened #90 "[UX/UI] Icon overlaps "Buy Tickets" button on mobile view"
Below is the screenshot of the issue. This can be fixed my making the button size smaller for mobile view.
![image](http://i.imgur.com/qOHxlS8.png)

[2017-08-02 21:13] withshubh commented on #90
Fixed!

[2017-08-02 21:25] realslimshanky commented on #90
@withshubh, here are few things I reviewed.
1) You have created two separate branches with same fix on both of them. Only one is enough.
2) You'll have send PR (Pull Request) from either of the branches of your [forked repository](https://github.com/withshubh/inpycon2017) to the master branch of original repository.
3) Your fix has made the icon look smaller on the desktop version of website as we

[2017-08-03 09:30] SanketDG commented on #46
Yup, looks like the maintainer has fixed it, but not released the package yet.

The only feasible solution is to add the github mirror to requirements:
[code]

For users who already have easywatch, this would mean to do a `pip install --upgrade -r requirements.txt` to initiate a force upgrade of easywatch to the github mirror instead of pypi.

Rest can do `pip install -r requirements.txt`

[2017-08-03 20:24] realslimshanky commented on #34
@CuriousLearner we can close this issue. It has been fixed in #51

[2017-08-03 20:26] realslimshanky commented on #39
@CuriousLearner we can close this issue. It's been fixed in #74

[2017-08-03 20:27] realslimshanky commented on #56
@CuriousLearner this issue can be closed now since it's been fixed in #61

[2017-08-03 20:29] realslimshanky commented on #82
Closed this issue since it has been resolved.

[2017-08-03 20:29] #82 closed

[2017-08-04 15:10] #34 closed

[2017-08-04 15:10] #39 closed

[2017-08-04 15:10] CuriousLearner commented on #56
Does speaker section work on small screens?

[2017-08-04 15:17] realslimshanky commented on #56
Speaker section is meant to scale on the mobile view accordingly. If someone comes us with a better UI for  the speaker section then we can open this issue again or create another one.

[2017-08-04 15:40] #56 closed

[2017-08-04 15:50] realslimshanky commented on #67
@CuriousLearner this can be closed since the animations added on #68 make use of animate.css.

[2017-08-04 15:51] #67 closed

[2017-08-04 15:52] realslimshanky commented on #90
@CuriousLearner this can be closed and the issue is resolved and merged in #95

[2017-08-04 15:55] #90 closed

[2017-08-09 20:40] Ayukha opened #98 "Hover action on Social Media Buttons."
I think there should be a 'fade in' hover action on Social Media Buttons.

[2017-08-12 12:36] realslimshanky opened #99 "Blog feed alogside/after twitter feed"
Just like the twitter feed, a blog feed would be helpful to get the latest blogs form 2017 from in.pycon.org/blog

[2017-08-14 08:07] amitsin6h commented on #64
but this works well in localhost @thisisayush

[2017-08-14 13:10] Ayukha commented on #99
I would like to contribute on this issue.

[2017-08-14 13:54] realslimshanky commented on #99
Sure @Ayukha go ahead, clone the repository and fork your clone to local machine. Follow guidelines given in README.md

[2017-08-16 21:29] Shivang-Bhandari opened #100 "Map Marker Pointing at Wrong Location"
The Map Marker included on the website's Home Page is pointing to Rajpath Marg for some reason. Should point to the Venue.

[2017-08-16 21:32] realslimshanky commented on #100
The venue has not been confirmed yet. Let's keep this issue open to remind us of this fix to be looked upon when the venue is updated.

[2017-08-21 05:27] realslimshanky commented on #99
@Ayukha are you working on the issue?

[2017-08-30 10:00] realslimshanky opened #102 "Adding ZeOmega, Adobe and PSF as Silver Sponsor"
ZeOmega has been confirmed as Silver Sponsor for PyCon India 2017. We need to add the logo of the company on the homepage under 'Sponsor' section.

[2017-08-30 11:48] realslimshanky commented on #102
I'm working on this issue and have two layout options to choose from. Please comment your suggestions. cc: @stalwart201 @CuriousLearner @sayanchowdhury
Option 1 -
![image](https://user-images.githubusercontent.com/10004530/29870878-34726bfc-8da7-11e7-9158-108bc92d8cbd.png)

Option 2 -
![image](https://user-images.githubusercontent.com/10004530/29870836-1591023e-8da7-11e7-97c6-239cc4016c4e.png)

[2017-08-30 16:42] dotgourav commented on #102
Now that there are more than two sponsors, there isn't much to discuss, isn't it?

[2017-08-30 16:45] realslimshanky commented on #102
@Gouravchawla, since we are announcing one sponsor per day, wouldn't it be okay to add one for now?

[2017-08-30 16:45] stalwart201 commented on #102
Hi Shashank,

I like option second, IMHO we can align the sponsor in center so that when
we add another sponsor next time they will be adjusted accordingly.

Thanks,
Rishabh

On Aug 30, 2017 10:12 PM, "Gourav Chawla" <notifications@github.com> wrote:

[2017-08-30 16:47] realslimshanky commented on #102
@stalwart201, okay. that'll do. @Gouravchawla agree?

[2017-08-31 07:16] realslimshanky commented on #102
Here's the preview
![image](https://user-images.githubusercontent.com/10004530/29911153-7581da8a-8e4a-11e7-8579-ef0721d496d5.png)

[2017-08-31 08:06] dotgourav commented on #102
Well, there is no harm in adding sponsors in one go. We can announce one by one. Are we going to do articles too about each sponsor?

[2017-08-31 09:03] realslimshanky commented on #102
@Gouravchawla I don't know about the article.
Here is the final preview.
![image](https://user-images.githubusercontent.com/10004530/29915380-5eeaba58-8e59-11e7-9807-323905269478.png)

[2017-09-01 05:43] CuriousLearner commented on #102
Can you try to make the logo blend with the background using opacity?

Also, try to have rounded corner for images if the former does not look good.

[2017-09-02 05:25] #102 closed

[2017-09-07 12:09] realslimshanky opened #106 "Add Shaheed Sukhdev College of Business Studies as venue."
Need to change the location on the top banner and location marker at the bottom of the page.

[2017-09-07 16:08] emht commented on #106
If it is no problem, I would like to pick it up.

[2017-09-07 21:57] realslimshanky commented on #106
Thank you @emht for taking up this issue. Please check the PR.

[2017-09-07 22:04] realslimshanky commented on #100
@Shivang-Bhandari you should close this issue since #107 already takes care of this issue.
Please join the same issue and respective PR if you wish to contribute.

[2017-09-08 18:05] Shivang-Bhandari commented on #100
sure

[2017-09-08 18:05] #100 closed

[2017-09-11 00:38] #99 closed

[2017-09-18 09:52] pythonhacker commented on #106
Completed.

[2017-09-18 09:52] #106 closed

[2017-09-21 08:00] rajataaron opened #112 "Remove all dummy Images"
Remove all dummy images from the "image" folder

[2017-09-21 16:28] chirag200666 opened #113 "Sponsor websites open in the same browser window."
Sponsor websites open in the same browser window, they should open in another tab.  in the url target="_blank" has to be set.

[2017-09-21 16:36] chirag200666 opened #114 "Update logo of zeomega & add description"
Update logo of zeomega & add description on a popup similar to PyCon India 2016 website.

[2017-09-22 13:54] #113 closed

[2017-09-22 13:55] chirag200666 commented on #114
This PR solved the issue: https://github.com/pythonindia/inpycon2017/pull/116

[2017-09-22 14:08] pythonhacker commented on #114
Closing.

[2017-09-22 14:08] #114 closed

[2017-09-27 07:43] rajataaron opened #121 "Add ChildCare page to website"
Need to add childcare facility page on the website. For example https://europe-2017.dockercon.com/childcare/

[2017-09-28 10:54] emht commented on #9
If this issue is still open, I would like to work on it.
Please brief the details about the build and deployment.

[2017-09-28 10:56] rajataaron commented on #9
Ya it is still open feel free to work on it.

[2017-09-28 11:46] ashwamegh commented on #9
@emht  go ahead 👍

[2017-10-04 11:10] realslimshanky commented on #121
@rajataaron it can be closed now. #123

[2017-10-04 11:10] realslimshanky commented on #112
@rajataaron this can be closed.

[2017-10-04 11:11] realslimshanky commented on #98
@Ayukha would you like to work on this issue?

[2017-10-04 11:12] realslimshanky commented on #72
@Shivang-Bhandari you need to make a PR from your repo to master of inpycon2017 repo in order to fix the issue.

[2017-10-04 11:15] #121 closed

[2017-10-04 11:16] #112 closed

[2017-10-04 11:18] rajataaron commented on #64
Ya so, I have already fixed that so I am closing this issue

[2017-10-04 11:18] #64 closed

[2017-10-04 11:26] realslimshanky opened #131 "Alternate solution is required for Date & Hall/Room tabs on the mobile view"
An alternate solution is required which should take lesser space for both the situations stated below. Please discuss what your solution might be. I suggest a dropdown menu.
On mobile, the Dates in the schedule section looks something like this on the mobile.
![image](https://user-images.githubusercontent.com/10004530/31173234-63558790-a924-11e7-9174-9fac2958e8b1.png)
And the Hall/Room tab looks l

[2017-10-04 11:30] rajataaron commented on #131
ya need to think something alternative

[2017-10-04 11:40] realslimshanky opened #132 "Updating description of talks"
The description of the talks has to be updated on `data/api/tracks.json` which right now only has the title of the talks and events. The description can be picked up from https://in.pycon.org/cfp

[2017-10-04 11:52] rajataaron commented on #72
issue resolved i am closing this issue

[2017-10-04 11:52] #72 closed

[2017-10-04 12:44] rajataaron commented on #72
issue resolved i am closing this issue

[2017-10-04 12:47] rajataaron commented on #28
@amitsin6h are you working on the issue

[2017-10-04 12:56] sagarchoudhary96 commented on #98
@realslimshanky i would like to work on it and send pull request soon

[2017-10-04 13:22] sagarchoudhary96 commented on #98
@Ayukha for which social icon the hover effect should come ?

[2017-10-04 14:29] amitsin6h commented on #28
@rajataaron  you can take this.

[2017-10-04 14:32] rajataaron commented on #28
I don't have time right now for this work. So let us keep it in pause.

[2017-10-04 15:15] priyankt68 opened #136 "Display talk description and speaker info in tentative schedule"
Description of selected talks needs to be displayed as mentioned in [CFP page](https://in.pycon.org/cfp/2017/proposals/) along with speaker info.

This could either be :
1. A hyperlink to Junction's page for cfp.
2. An in-place page element - either [bootstrap modal](https://getbootstrap.com/docs/3.3/javascript/#modals) or [bootstrap collapse](https://getbootstrap.com/docs/3.3/javascript/#collapse

[2017-10-04 20:11] realslimshanky commented on #98
@sagarchoudhary96 great. thank you. waiting for your PR.

[2017-10-05 04:58] rajataaron commented on #98
I think simple darker shade comes on hover will also work

[2017-10-05 15:45] realslimshanky commented on #136
@priyankt68 would you like to work on the issue?

[2017-10-05 16:44] priyankt68 commented on #136
Sure. I will take up.

I suggest that the easiest to complete this is by hyperlinking to Junction's page for CFP. This way we will have speakers links, talk breakup as well.

So the tracks.json can contain another key with ```link```.
[code]

Suggestions ?

[2017-10-05 16:46] realslimshanky commented on #136
@priyankt68 great. Start with a dummy data or maybe data from just one talk while #132 is underway.

[2017-10-06 04:04] thisisayush commented on #132
Working on the issue!

[2017-10-06 04:06] realslimshanky commented on #132
@thisisayush great. Waiting for your PR.

[2017-10-10 09:05] thisisayush commented on #132
Description of talks has been added in #137
If no changes are to be made, we can close the issue :)

[2017-10-10 09:38] realslimshanky commented on #132
@thisisayush true that. Thank you for your contribution :)

[2017-10-10 09:38] #132 closed

[2017-10-10 09:39] realslimshanky commented on #136
@priyankt68 thank you for your contribution. I guess this issue is resolved now, closing.

[2017-10-10 09:39] #136 closed

[2017-10-13 11:12] juggernaut451 opened #147 "Short summary of talk on click on schedule"

[2017-10-13 11:12] juggernaut451 commented on #147
working on it

[2017-10-13 15:38] realslimshanky commented on #147
@juggernaut451 awesome.

[2017-10-14 16:10] realslimshanky opened #149 "Make sponsor logo center aligned"
Here's the logo of Pipal Academy to shift to center.
![image](https://user-images.githubusercontent.com/10004530/31577216-34fec800-b128-11e7-8603-625fd1f36b61.png)

[2017-10-14 16:31] emht commented on #149
I would like to work.

[2017-10-14 17:15] realslimshanky commented on #149
@emht great. Waiting for your PR.

[2017-10-15 20:17] abhyudaypratap opened #151 "in.pycon.org certificate expired"
![image](https://user-images.githubusercontent.com/7920295/31588738-ee7f9c64-b213-11e7-9c80-85fdff3e31b7.png)

[2017-10-15 21:16] realslimshanky commented on #151
@abhyudaypratap thank you for raising the issue.
@kracekumar please look into it. :)

[2017-10-16 06:41] vipulgupta2048 commented on #151
@abhyudaypratap Its fixed. Please check on your end.
Do close the issue if it does.

[2017-10-16 06:45] kracekumar commented on #151
Thank you @realslimshanky and @vipulgupta2048. It's fixed now.

[2017-10-16 06:45] #151 closed

[2017-10-16 06:49] vipulgupta2048 opened #152 "Keynote Speakers redirect to blog posts"
The link on the names of the keynote speakers redirects back to homepage https://in.pycon.org/2017
As now the blog posts of speakers have been written. The link should redirect there acting as " more information " about that person. That would be more appropriate.

![screenshot_2017-10-16_12-14-17](https://user-images.githubusercontent.com/22801822/31598480-92847788-b26b-11e7-8f95-8889744d24b0.png

[2017-10-16 11:14] realslimshanky commented on #149
Since this issue has been fixed in #150 I'm closing it.

[2017-10-16 11:14] #149 closed

[2017-10-16 11:14] realslimshanky commented on #152
@vipulgupta2048 good idea. Would you like to work on this enhancement?

[2017-10-16 12:36] vipulgupta2048 commented on #152
On it.

[2017-10-17 13:27] #147 closed

[2017-10-17 21:34] vipulgupta2048 commented on #152
PR #153  Solves this issue.
Hence closing it.

[2017-10-17 21:34] #152 closed

[2017-10-18 15:41] realslimshanky opened #157 "Need to update the statistics on the website"
Need the data which is displayed in the screenshot below to be updated as per the given schedule on the website.
![image](https://user-images.githubusercontent.com/10004530/31728075-f01cbc1e-b448-11e7-8f7a-99b7b20cdc92.png)

[2017-10-18 15:44] championshuttler commented on #157
@realslimshanky  what should be the data instead of this?

[2017-10-18 16:03] realslimshanky commented on #157
@championshuttler take the data from the schedule on the website. I guess you are interested in resolving this topic with your PR?

[2017-10-18 16:16] championshuttler commented on #157
Yes working on it :) @realslimshanky

[2017-10-20 16:08] #131 closed

[2017-10-20 20:40] sourabhtk37 opened #161 "Unnecessary dots in linking to read full description"
In the schedule section, the link to read more is prefixed by three dots which look quite bad. The purpose `Read full description` states the obvious.
![Here's a screenshot for the above](https://user-images.githubusercontent.com/8580742/31840866-d1b3104e-b604-11e7-8175-7644c8671052.png)

The above talk with the dots and below without the talk. Let me know if this seems an unnecessary issue.

[2017-10-21 00:40] realslimshanky commented on #161
Look like a good suggestion. Woul you like to submit a PR @sourabhtk37

[2017-10-21 08:39] realslimshanky opened #162 "Modify schedule div"
Schedule on the homepage has very few content on the desktop screen.
![image](https://user-images.githubusercontent.com/10004530/31850006-466675ac-b669-11e7-82a8-cf3fb0452913.png)
This can be changed to accommodate the complete schedule of a single day like the previous year.
![image](https://user-images.githubusercontent.com/10004530/31850015-6fb83b66-b669-11e7-81f3-501b816b38c0.png)

[2017-10-21 08:43] realslimshanky opened #163 "[UI] Define fix height to blog feed on the desktop view"
Blog feed does not have a constraint to limit how many posts should be visible on the page. This results in a long section captured by the feed div as seen below. This needs to look into and work asap.
![image](https://user-images.githubusercontent.com/10004530/31850067-fff28c2c-b669-11e7-97c7-524603a79329.png)

[2017-10-21 13:47] sourabhtk37 commented on #161
Well, you already made one. :lollipop:

[2017-10-21 18:26] #161 closed

[2017-10-22 04:35] amitsin6h commented on #163
![pyblog](https://user-images.githubusercontent.com/12906090/31858243-801a1a40-b710-11e7-9460-0ed6ff787cc0.jpg)

We need to also fix the image size

[2017-10-22 11:01] realslimshanky commented on #163
@amitsin6h That can be fixed from the inpycon-blog. This issue concerns only the height.

[2017-10-23 12:32] realslimshanky commented on #45
Closing this issue since it's been fixed in #50

[2017-10-23 12:32] #45 closed

[2017-10-29 17:19] emht opened #181 "Blog in a div"
All the blog posts are displayed on the homepage which makes it very long to scroll.
The Blog section can be contained within a div with its scroll to make the page look more tidier.

What say, @realslimshanky?

If someone else wants, he can do, else I am doing it.  :)

[2017-10-30 12:50] realslimshanky commented on #181
Hi @emht, this issue has already been raised in #163. Please refer that issue and comment there that you're working on it. Thank for picking it up.

[2017-10-30 12:50] #181 closed

[2017-11-05 15:46] CuriousLearner opened #187 "Put up list of Volunteers and archive the site"
Thank you everyone who helped to make it happen 💃

[2017-11-05 18:46] realslimshanky commented on #187
Nice idea. Should it be a page on the website or just a .md for this repository?

[2018-04-12 21:36] utkarsh2102 commented on #98
@realslimshanky, can I take up this task?

[2018-04-12 21:52] realslimshanky commented on #98
@utkarsh2102 this year's website is hosted on https://github.com/pythonindia/inpycon2018
Please create a similar issue there as well and mention that you would like to work.